<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Prime Delta Shoutouts</title>
    <link href="/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/animate.min.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1 class="page-header">Delta Shoutouts</h1>
        <div class="row">
            <div id="carousel-shoutouts" class="carousel col-md-offset-2 col-md-8 col-md-offset-2" data-ride="carousel">
                <div class="carousel-inner" id="shoutouts" role="listbox"></div>
                <a class="left carousel-control" href="#carousel-shoutouts" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-shoutouts" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
<script src="/javascripts/jquery-2.1.4.min.js"></script>
<script src="/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/javascripts/app.js"></script>
</body>
</html>