<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Prime Delta Shoutouts</title>
    <link href="/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="row">
        <h1 class="page-header">Shoutouts</h1>
        <div class="col-md-offset-3 col-md-6" id="shoutout"></div>
    </div>
</div>
<script src="/javascripts/jquery-2.1.4.min.js"></script>
<script src="/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/javascripts/app.js"></script>
</body>
</html>