body {
  background-color: #1DA195;
}

hidden {
  display: none;
}

li {
  list-style-type: none;
}

h1 {
  text-align: center;
}

.carousel {
  margin-top: 60px;
}

.carousel-inner {
  width: 500px;
  margin: 0 auto;
  padding: 10px 20px;
}

.btn {
  margin: auto 20px;
}

.name {
  text-align: center;
  font-weight: 600;
  font-size: 48px;
}

.message {
  font-style: italic;
  font-weight: 200;
  font-size: 36px;
}